.form {
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
  text-align: center;
}
.result {
  width: 30%;
  margin: 2rem auto;
  text-align: center;
  background-color: rgb(255, 246, 80);
  font-size: 30px;
}
